---
import MainLayout from "../../layouts/Layout.astro"
---

<MainLayout>
	<h1>Club Information</h1>

	<nav class="py-4">
		<ul
			class="flex gap-3 text-white *:*:px-2 *:*:py-1.5 *:*:rounded-lg *:*:bg-neutral-400 *:*:hover:bg-neutral-500 *:*:transition-all"
		>
			<li><a href="/club">Information</a></li>
			<li><a href="/club/affiliations">Affiliations</a></li>
			<li><a href="/club/history">History</a></li>
		</ul>
	</nav>

	<slot />
</MainLayout>
