:root {
	background: #111;
	color: white;

	/* flex centre the body inside html */
	display: flex;
	height: 100vh;
	justify-content: center;

	font-family: Lexend, sans-serif;
}

* {
	box-sizing: border-box;
}

a {
	color: cyan;
}

h1,
h2,
h3,
h4,
h5,
h6 {
	margin: 0;
	font-family: Cambria, Cochin, Georgia, Times, "Times New Roman", serif;
	display: inline-block;
}

body {
	width: 40rem;
	max-width: 40rem;
}

address {
	padding-left: 1rem;
}

main {
	padding: 1rem 0;
}
