@font-face {
	font-family: "DM Serif";
	src: url("/DM Serif.woff2") format("woff2");
}

:root {
	background: #111;
	color: white;

	/* flex centre the body inside html */
	display: flex;
	height: 100vh;
	justify-content: center;

	font-family: Lexend, sans-serif;
}

* {
	box-sizing: border-box;
}

a {
	color: cyan;
	text-decoration: none;
}

h1,
h2 {
	margin: 0;
	font-family: "Lucida Handwriting", cursive;
	display: inline-block;
}

h1 {
	font-family: "DM Serif", serif;
}

body {
	width: 40rem;
	max-width: 40rem;
}

address {
	padding-left: 1rem;
}

main {
	padding: 1rem 0;
}

#top,
#bottom {
	display: flex;
	justify-content: space-between;
	align-items: center;
}
