<p>
	Menu options for our café are displayed below.
</p>

{{range $v := .Menu}}
<h3>{{index $v 0}}</h3>

<table>
	<thead>
		<tr>
			<td>Menu option</td>
			<td>Pricing</td>
		</tr>
	</thead>
	<tbody>
		{{range $x := index $v 1}}
		<tr>
			<td>{{index $x 0}}
				{{if not (eq (index $x 1) "")}}
				<small>({{index $x 1}})</small>
				{{end}}
			</td>
			<td>{{index $x 2}}</td>
		</tr>
		{{end}}
	</tbody>
</table>
{{end}}

<small>
	<br>
	(V): Vegetarian<br>
	(VV): Vegan<br>
</small>

<p>
	All of our produce is organic and locally sourced where possible, and otherwise we attempt to source from <a
		href="https://www.fairtrade.org.uk" rel="noopener noreferrer" target="_blank" title="Fairtrade">Fairtrade</a>
	suppliers. Breakfasts are served all day. Payments are accepted in cash, card, and cryptocurrency.
</p>

<style>
	@scope {
		h3 {
			padding-top: 1rem;
		}

		thead {
			font-weight: bold;
		}

		td {
			padding: 0.2rem 1.4rem 0.2rem 0.4rem;

			&:first-child {
				min-width: 26rem;
			}
		}

		tbody td {
			border: 1px solid white;
		}
	}
</style>