---
import "../styles/global.css"
import Base from "./Base.astro"
---

<Base>
	<header>
		<img
			src="/logo.png"
			alt="Machair Camanachd United logo"
			class="h-24 pb-4"
		/>

		<h1 class="font-light! pt-4 pb-8 inline-block">
			Machair Camanachd United &ndash; Shinty Club
		</h1>

		<nav class="pb-4">
			<ul
				class="flex gap-3 text-white *:*:bg-neutral-400 *:*:px-2 *:*:py-1.5 *:*:rounded-lg *:*:hover:bg-neutral-500 *:*:transition-colors"
			>
				<li><a href="/">Home</a></li>
				<li><a href="/events">Events</a></li>
				<li><a href="/facilities">Facilities</a></li>
				<li><a href="/membership">Membership</a></li>
				<li><a href="/fundraising">Fundraising</a></li>
				<li><a href="/club">Club</a></li>
				<li><a href="/contact">Contact</a></li>
			</ul>
		</nav>
	</header>
	<main>
		<slot />
	</main>
</Base>
