---
import Base from "./Base.astro"
---

<Base>
	<nav>
		<ul>
			<li><a href="/">Home</a></li>
			<li><a href="/events">Events</a></li>
			<li><a href="/fundraising">Fundraising</a></li>
			<li><a href="/history">History</a></li>
			<li><a href="/affiliations">Affiliations</a></li>
			<li><a href="/contact">Contact</a></li>
		</ul>
	</nav>
	<main>
		<slot />
	</main>
</Base>

<style>
	main {
		padding: 1rem;
		max-width: 800px;
		margin: 0 auto;
	}
</style>
