@import "tailwindcss";

* {
	font-family: sans-serif;
}

:root {
	padding: 4rem 1rem;
}

header,
main,
footer {
	max-width: 800px;
	margin: 0 auto;
}

footer {
	padding-bottom: 4rem;
}

h1,
h2,
h3,
h4,
h5,
h6 {
	@apply font-bold m-0;
}

h1 {
	@apply text-2xl;
}
h2 {
	@apply text-xl pt-6 pb-2;
}
h3 {
	@apply text-lg pt-6 pb-2;
}
h4 {
	@apply text-base pt-6 pb-2;
}

/* a not child of nav */
a:not(nav a) {
	@apply text-blue-500 underline;
}

blockquote {
	@apply border-l-4 pl-4 py-1 italic text-neutral-700;
}

select,
button {
	cursor: pointer;
}

input,
select,
textarea {
	@apply border border-neutral-400 rounded-lg px-2 py-1;
}

form button {
	@apply bg-neutral-500 text-white rounded-lg px-4 py-2 hover:bg-neutral-600 transition-colors;
}

td,
th {
	@apply border-solid border-1 border-black px-4 py-2;
}
